#first_section
{
    background-image: url(../img/galerie1.jpg);
}

#animated_gallery
{
    margin: 5% auto;
    width: 40%;
    height: 25em;
    overflow: hidden;
    position: relative;
}

#animated_gallery figure
{
    width: 100%;
    height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation-name: gallery;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 27s;	
	transform-origin: 0px top;
}

#animated_gallery>figure>img
{
    width: 100%;
    height: 100%;
}

#animated_gallery figure:nth-of-type(9)
{
	animation-delay: 0s;
}

#animated_gallery figure:nth-of-type(8)
{
	animation-delay: 3s;
}

#animated_gallery figure:nth-of-type(7)
{
	animation-delay: 6s;
}

#animated_gallery figure:nth-of-type(6)
{
	animation-delay: 9s;
}

#animated_gallery figure:nth-of-type(5)
{
	animation-delay: 12s;
}

#animated_gallery figure:nth-of-type(4)
{
	animation-delay: 15s;
}

#animated_gallery figure:nth-of-type(3)
{
	animation-delay: 18s;
}

#animated_gallery figure:nth-of-type(2)
{
	animation-delay: 21s;
}

#animated_gallery figure:nth-of-type(1)
{
	animation-delay: 24s;
}

@keyframes gallery
{ 
	0% {z-index: 20; opacity: 1;} /* perioada 0-5% in care se afiseaza fara efect */
	5% {opacity: 1; transform: rotate(0deg);}
	11.11%{z-index: 20; opacity: 0; transform: rotate(175deg);}
	11.12%{z-index: -1;} /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el */
	88.87%{ opacity:1; transform: rotate(0deg); z-index:-1;}	
	88.88%{z-index:0;} /* setez z-index la 0 ca sa revina la ordinea normala de afisare */
	100%{opacity:1;z-index:0;}
}

#third_section
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 3.5%;
    overflow: hidden;
}

#third_section>figure>a>img
{
    width: 50%;
}

#third_section>figure
{
    height: 100%;
}

#third_section>figure>a>img
{
    transition: 0.3s linear;
}

#third_section>figure a
{
    text-decoration: none;
    color: unset;
}

#third_section>figure a:hover
{
    color: red;
}

#third_section>figure>a>img:hover
{
    transform: scale(1.5);
    text-decoration: none;
}

#third_section>h2:nth-child(1)
{
    grid-area: 1 / 1 / span 1 / span 4;
    margin-bottom: 3%;
}

@media screen and (max-width: 840px) and (min-width: 650px)
{
    #animated_gallery
    {
        height: 10em;
    }

    #third_section>figure
    {
        height: 80%;
    }

    #third_section
    {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    #third_section>h2:nth-child(1)
    {
        grid-area: 1 / 1 / span 1 / span 3 ;
    }
}

@media screen and (max-width: 650px) and (min-width: 350px)
{
    #animated_gallery
    {
        height: 8em;
    }
    #third_section
    {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    #third_section>h2:nth-child(1)
    {
        grid-area: 1 / 1 / span 1 / span 2;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 350px)
{
    #animated_gallery
    {
        height: 7em;
    }
    #third_section
    {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }

    #third_section>h2:nth-child(1)
    {
        grid-area: 1 / 1 / span 1 / span 1;
        margin-bottom: 3%;
    }
}