#first_section
{
    background-image: url(../img/galerie1.jpg);
}

#animated_gallery
{
    margin: 5% auto;
    width: 40%;
    height: 20em;
    overflow: hidden;
    position: relative;
}

#animated_gallery figure
{
    width: 100%;
    height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation-name: gallery;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 27s;	
	transform: scale(1,1);
	transform-origin: 0px center;
}

#animated_gallery>figure>img
{
    width: 100%;
    height: 100%;
}

#animated_gallery figure:nth-of-type(9)
{
	animation-delay: 0s;
}

#animated_gallery figure:nth-of-type(8)
{
	animation-delay: 3s;
}

#animated_gallery figure:nth-of-type(7)
{
	animation-delay: 6s;
}

#animated_gallery figure:nth-of-type(6)
{
	animation-delay: 9s;
}

#animated_gallery figure:nth-of-type(5)
{
	animation-delay: 12s;
}

#animated_gallery figure:nth-of-type(4)
{
	animation-delay: 15s;
}

#animated_gallery figure:nth-of-type(3)
{
	animation-delay: 18s;
}

#animated_gallery figure:nth-of-type(2)
{
	animation-delay: 21s;
}

#animated_gallery figure:nth-of-type(1)
{
	animation-delay: 24s;
}

@keyframes gallery
{ 
	0% {z-index: 20; opacity: 1;} /*perioada 0-5% in care se afiseaza fara efect */
	5% {opacity: 1; transform: skewX(0deg);}
	9%{opacity: 1; transform:skewX(85deg)} /* de  aici doresc sa descresc si opacitatea;*/
	11.11%{z-index: 20; opacity: 0; transform: skewX(90deg);}
	11.12%{z-index: -1;} /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
	88.87%{ opacity:1; transform:skewX(0deg); z-index:-1;}	
	88.88%{z-index:0;} /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
	100%{opacity:1;z-index:0;}
}

#third_section
{
    display: grid;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    justify-items: center;
}

@media screen and (min-width: 840px)
{
    /* Second Section -----------------------------------------------------------------*/
    /* #second_section
    {
        grid-template-columns: 20% auto;
        grid-template-rows: auto auto auto;
        padding-right: 5%;
        padding-left: 5%;
    }

    #second_section>figure>img
    {
        width: 85%;
        border-radius: 50%;
    }

    #second_section>h2:nth-child(1)
    {
        grid-area: 1 / 2 / span 1 / span 1;
        margin-bottom: 2%;
    }

    #second_section>figure:nth-child(2)
    {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #second_section>p:nth-child(3)
    {
        grid-area: 2 / 2 / span 1 / span 1;
        padding-left: 2%;
    }

    #second_section>figure:nth-child(4)
    {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    #second_section>p:nth-child(5)
    {
        grid-area: 3 / 2 / span 1 / span 1;
    } */
    /* Second Section -----------------------------------------------------------------*/

    /* Third Section -----------------------------------------------------------------*/
    #third_section
    {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        padding-right: 5%;
        padding-left: 5%;
    }

    #third_section>figure>img
    {
        width: 70%;
        border-radius: 50%;
    }

    #third_section>h2:nth-child(1)
    {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    #third_section>figure:nth-child(2)
    {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #third_section>p:nth-child(3)
    {
        grid-area: 2 / 2 / span 1 / span 1;
        padding-left: 2%;
    }

    #third_section>figure:nth-child(4)
    {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    #third_section>p:nth-child(5)
    {
        grid-area: 3 / 2 / span 1 / span 1;
    }
    /* Third Section -----------------------------------------------------------------*/
}