*
{
    margin: 0;
    padding: 0;
    font-family: 'Galindo', cursive;
}

body
{
    background-color: #131417;
    color: white;
    letter-spacing: 0.15rem;
}

p>small
{
    font-size: 0.7rem;
}

b
{
    font-weight: 900;
}

html
{
    font-size: 15px;
}

/* Menu -----------------------------------------------------------------*/
nav h1
{
    background-color: #128ced;
    text-align: center;
    color: #EEEEEE;
    position: absolute;
    top: 0;
    width: 100%;
}

#logo
{
    position: relative;
}

nav
{
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #128ced;
}

ul.menu>li, ul.submenu>li
{
    display: block;
    font-weight: bold;
    text-align: center;		
    list-style-type: none;
    overflow: hidden;
    background-color: #81c6ff;
    height: 1.7rem;
    transition: 0.5s linear;
}

ul.menu>li
{
    float: left;
    width: 33.333333%;
}

ul.submenu>li
{
    width: 100%;
}

ul.menu>li>a, ul.submenu>li>a
{
    display: block;
    height:	100%;
    text-decoration: none;
    color: white;
}

ul.menu>li>ul.submenu
{
    position: relative;
    background-color: #128ced;
    top: 0;
}

#active
{
    background: #0e70be;
}

ul.menu>li>a:hover, ul.submenu>li>a:hover
{
    background: rgb(30, 189, 238);
}

ul.menu>li:hover
{
    overflow: visible;
}
/* Menu -----------------------------------------------------------------*/

/* Body -----------------------------------------------------------------*/
#first_section
{
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-size: cover;
}

#first_section>h2
{
    display: none;
}

p.joke
{
    transform: translateX(-600px);
    animation: 1s slideIn ease-in-out forwards 1s;
    color:white;
    font-weight: 500;
    line-height: 150%;
    opacity: 0;
    text-align: center;
}

p.joke:nth-child(3)
{
    animation-delay: 3s;
}

@keyframes slideIn
{
    100%
    {
      transform: translateX(0px);
      opacity: 1;
    }
}
/* Body -----------------------------------------------------------------*/

/* Footer -----------------------------------------------------------------*/
footer
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #0e70be;
    text-align: center;
}

footer>p
{
    padding-left: 1.5%;
}

footer>ul>li
{
    justify-content: center;
    flex-direction: column;
    display: flex;
    list-style-type: none;
}

footer ul li a, footer ul>a
{
    color: black;
    text-decoration: none;
}

footer ul li a:hover, footer ul>a:hover
{
    color: red;
}

.share
{
    display: inline-block;
    width: 15%;
    border-radius: 3px;
    text-align: center;
    padding: 1% 0%;
    line-height: 2%;
    transition: .2s ease-in;
    text-decoration: none;
    color: white;
    margin-bottom: 1%;
    margin-top: 1%;
}

.share:hover
{
    opacity: 0.7;
}

#facebook
{
    background-color: #3b5998;
}

#sus
{
    background-color: red;
}

#twitter
{
    background-color: #55ACEE;
}

/* Footer -----------------------------------------------------------------*/

@media screen and (max-width: 840px)
{
    html
    {
        font-size: 16px;
    }

    h1
    {
        font-size: 2rem;
    }

    p
    {
        font-size: 1rem;
    }

    /* First Section -----------------------------------------------------------------*/
    #first_section
    {
        height: 96.5vh;
    }

    p.joke
    {
        font-size: 200%;
    }

    main
    {
        margin-top: 9%;
    }
    /* First Section -----------------------------------------------------------------*/
    /* Menu -----------------------------------------------------------------*/
    ul.menu>li, ul.submenu>li
    {
        font-size: 0.6rem;
    }

    ul.menu>li>a, ul.submenu>li>a
    {
        line-height: 3em;
    }
    /* Menu -----------------------------------------------------------------*/

    /* Logo -----------------------------------------------------------------*/
    #logo
    {
        margin-left: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
    }
    /* Logo -----------------------------------------------------------------*/

    footer
    {
        letter-spacing: 0;
    }

    .share
    {
        padding: 2%;
        font-size: 0.6rem;
        margin: 1%;
        width: 20%;
    }
}

@media screen and (max-width: 1250px) and (min-width: 840px)
{
    h1
    {
        font-size: 3.01rem;
    }

    p
    {
        font-size: 1.3rem;
    }

    main
    {
        margin-top: 15%;
    }

    /* First Section -----------------------------------------------------------------*/
    #first_section
    {
        height: 95vh;
    }

    p.joke
    {
        font-size: 200%;
    }

    main
    {
        margin-top: 7.5%;
    }
    /* First Section -----------------------------------------------------------------*/
    /* Menu -----------------------------------------------------------------*/
    ul.menu>li, ul.submenu>li
    {
        font-size: 1.2rem;
    }

    ul.menu>li>a, ul.submenu>li>a
    {
        line-height: 1.65em;
    }
    /* Menu -----------------------------------------------------------------*/

    /* Logo -----------------------------------------------------------------*/
    #logo
    {
        height: 4rem;
        width: 4rem;
        margin-left: 3rem;
    }
    /* Logo -----------------------------------------------------------------*/

    .share
    {
        padding: 1.5%;
    }
}

@media screen and (min-width: 1250px)
{
    h1
    {
        font-size: 3.01rem;
    }

    p
    {
        font-size: 1.3rem;
    }

    main
    {
        margin-top: 4.5%;
    }

    /* First Section -----------------------------------------------------------------*/
    #first_section
    {
        height: 93vh;
    }

    p.joke
    {
        font-size: 250%;
    }
    /* First Section -----------------------------------------------------------------*/

    /* Menu -----------------------------------------------------------------*/
    ul.menu>li, ul.submenu>li
    {
        font-size: 1.2rem;
    }

    ul.menu>li>a, ul.submenu>li>a
    {
        line-height: 1.65em;
    }
    /* Menu -----------------------------------------------------------------*/

    /* Logo -----------------------------------------------------------------*/
    #logo
    {
        margin-left: 3rem;
        height: 4rem;
        width: 4rem;
    }
    /* Logo -----------------------------------------------------------------*/
}