*
{
    margin: 0;
    padding: 0;
    font-family: 'Galindo', cursive;
}

body
{
    background-color: #131417;
    color: white;
    letter-spacing: 0.15rem;
    margin-top: 7%;
}

p>small
{
    font-size: 0.7rem;
}

b
{
    font-weight: 900;
}

/* Menu -----------------------------------------------------------------*/
h1
{
    background-color: #128ced;
    text-align: center;
    color: #EEEEEE;
    position: fixed;
    width: 100%;
}

#logo
{
    position: relative;
}

nav
{
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #128ced;
}

ul.menu>li, ul.submenu>li
{
    display: block;
    font-weight: bold;
    text-align: center;		
    list-style-type: none;
    overflow: hidden;
    background-color: #81c6ff;
    height: 1.75rem;
}

ul.menu>li
{
    float: left;
    width: 33.333333%;
}

ul.submenu>li
{
    width: 100%;
}

ul.menu>li>a, ul.submenu>li>a
{
    display: block;
    height:	100%;
    text-decoration: none;
    color: white;
}

ul.menu>li>ul.submenu
{
    position: relative;
    background-color: #128ced;
    top: 0;
}

#active
{
    background: #0e70be;
}

ul.menu>li>a:hover, ul.submenu>li>a:hover
{
    background: rgb(30, 189, 238);
}

ul.menu>li:hover
{
    overflow: visible;
}
/* Menu -----------------------------------------------------------------*/

/* Footer -----------------------------------------------------------------*/
footer
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #0e70be;
    text-align: center;

}

footer>p
{
    padding-left: 3%;
}

footer>ul
{
    justify-content: center;
    flex-direction: column;
    display: flex;
    list-style-type: none;
}

footer ul li a, footer ul>a
{
    color: black;
    text-decoration: none;
}

footer ul li a:hover, footer ul>a:hover
{
    color: red;
}
/* Footer -----------------------------------------------------------------*/

@media screen and (max-width: 840px)
{
    html
    {
        font-size: 10px;
    }
    h1
    {
        font-size: 2rem;
    }

    p
    {
        font-size: 1rem;
    }

    /* Menu -----------------------------------------------------------------*/
    ul.menu>li, ul.submenu>li
    {
        font-size: 0.6rem;
    }

    ul.menu>li>a, ul.submenu>li>a
    {
        line-height: 3em;
    }
    /* Menu -----------------------------------------------------------------*/

    /* Logo -----------------------------------------------------------------*/
    #logo
    {
        margin-left: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
    }
    /* Logo -----------------------------------------------------------------*/
}

@media screen and (max-width: 1250px) and (min-width: 840px)
{
    h1
    {
        font-size: 3.01rem;
    }

    p
    {
        font-size: 1.3rem;
    }

    /* Menu -----------------------------------------------------------------*/
    ul.menu>li, ul.submenu>li
    {
        font-size: 1.2rem;
    }

    ul.menu>li>a, ul.submenu>li>a
    {
        line-height: 1.65em;
    }
    /* Menu -----------------------------------------------------------------*/

    /* Logo -----------------------------------------------------------------*/
    #logo
    {
        height: 4rem;
        width: 4rem;
        margin-left: 3rem;
    }
    /* Logo -----------------------------------------------------------------*/
}

@media screen and (min-width: 1250px)
{
    h1
    {
        font-size: 3.01rem;
    }

    p
    {
        font-size: 1.3rem;
    }

    /* Menu -----------------------------------------------------------------*/
    ul.menu>li, ul.submenu>li
    {
        font-size: 1.2rem;
    }

    ul.menu>li>a, ul.submenu>li>a
    {
        line-height: 1.65em;
    }
    /* Menu -----------------------------------------------------------------*/

    /* Logo -----------------------------------------------------------------*/
    #logo
    {
        margin-left: 3rem;
        height: 4rem;
        width: 4rem;
    }
    /* Logo -----------------------------------------------------------------*/
}